<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis" href="index.html">Start</a> <a
            class="nav-item nav-link link-body-emphasis" href="allgemein.html">Allgemein</a> <a
            class="nav-item nav-link link-body-emphasis" href="baugebiet.html">Baugebiet</a> <a
            class="nav-item nav-link link-body-emphasis" href="grundstueck.html">Grundstücke</a> <a
            class="nav-item nav-link link-body-emphasis" href="kontakt.html">Preise / Kontakt</a> <a
            class="nav-item nav-link link-body-emphasis" href="impressum.html">Impressum</a>
    </nav>
</div>